.form-about {
    transform: translateY(-30%);
}

.form-about input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 1em 0 .8em;
    text-align: left;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.5;
    color: inherit;
    outline: none;
}

.form-about textarea {
    background: #F5F7FB;
    border-radius: 18px;
    height: 182px;
    border: none;
}

 #send-button {
    padding: 16px 32px;
    background: #9B191B;
    border-radius: 9px;
}

.form-about .container {
    background-color: white;
    box-shadow: -5px -5px 35px rgba(0, 0, 0, 0.04), 5px 5px 35px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    height: 90vh;
}

.form-about .wrapper-form-info {
    padding: 5rem;
}

.form-about .wrapper-contact-info {
    padding: 5rem 2rem;
}

.wrap-icon-about {
    margin: 30px 0;
}

.wrap-icon-about #badge-maps {
    margin-top: 10px;
    width: 100%;
    padding: 8px 24px;
    text-align: center;
    background: #FBDBDB;
    border-radius: 50px;
}

.contact-info {
    background: #F5F7FB;
    border-radius: 0 18px 18px 0;
    height: 85vh;

}

.icon-box {
    width: 25px;
    background: #9B191B;
    text-align: center;
    border-radius: 5px;
}

.icon-box a {
    color: white;

}

@media screen and (max-width:992px) {
    .contact-info {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .form-about .wrapper-form-info {
        padding: 1rem;
    }



    .form-about .container {
        height: auto;
    }

    .form-about {
        padding: 2rem;
    }

}

/* register */


.form-register .register-info  {
    background-image: url(../images/register.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
   border-radius: 18px;
}

.contact-info .header-image-register{
    background-size: cover;
    width: 100%;
}

@media screen and (max-width:992px) {
    .form-register .contact-info {
        display: none;
    }
}

.form-register {
    transform: translateY(-30%);
}

.form-register input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 0.3em 0 .8em;
    text-align: left;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.5;
    color: inherit;
    outline: none;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0;
    font-size: 14px;
    color: #60666d;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .select-box {
        width: 70%;
   }
}
@media (min-width: 992px) {
    .select-box {
        width: 50%;
   }
}
@media (min-width: 1200px) {
    .select-box {
        width: 30%;
   }
}
.select-box__current {
    position: relative;
    /* box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); */
    border: solid #9C1718 1px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
    background-color: white;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    color: #9C1718;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: transparent;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 9999;
    background-color: white;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #9B191B;
    background-color: #fbfbfb;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}

.form-register textarea {
    background: #F5F7FB;
    border-radius: 18px;
    height: 182px;
    border: none;
}

 #send-button {
    padding: 16px 32px;
    background: #9B191B;
    border-radius: 9px;
}

#clear-button {
    padding: 16px 32px;
    border: solid #d8d8d8 1px;
    border-radius: 9px;
}

.form-register .container {
    background-color: white;
    box-shadow: -4px -4px 25px rgba(0, 0, 0, 0.04), 4px 4px 25px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    height: auto;
}

.form-register .wrapper-form-info {
    padding: 5rem;
}

.form-register .wrapper-contact-info {
    padding: 5rem 2rem;
}

.wrap-icon-about {
    margin: 30px 0;
}

.wrap-icon-about #badge-maps {
    margin-top: 10px;
    width: 100%;
    padding: 8px 24px;
    text-align: center;
    background: #FBDBDB;
    border-radius: 50px;
}

/* .contact-info {
    background: #F5F7FB;
    border-radius: 0 18px 18px 0;
    height: 70vh;

} */

.icon-box {
    width: 25px;
    background: #9B191B;
    text-align: center;
    border-radius: 5px;
}

.icon-box a {
    color: white;

}

@media screen and (max-width:992px) {
    .contact-info {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .form-register .wrapper-form-info {
        padding: 1rem;
    }

    .news-detail-tanggal{
        font-size:10px;
        width: 120px;
    }

.btn-clear{
    padding-left: 9px!important;
    padding-right: 9px!important;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
font-size: 10px;
}

.btn-submit{
    padding-left: 9px!important;
    padding-right: 9px!important;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}

    .form-register .container {
        height: auto;
    }

    .form-register {
        padding: 2rem;
    }

}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    /* background: linear-gradient(40deg,#ff6ec4,#7873f5); */
    border: solid #9C1718 1px;
    /* box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9C1718;
    font-weight: bold;
    cursor: pointer;
    /* transition: transform .2s ease-out; */
  }
  
  .file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
  }
  
  
  
  /* Adding an outline to the label on focus */
  input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }

  .bg-minimba{
    background-image: url(../images/minimba-banner.png);
  }

  .bg-salman{
    background-image: url(../images/salman-bg.png);
}

.container-salman{
    max-width: 1200px;
    height: 500px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;

}

.banner-salman{
    padding-top: 300px;
    /* padding-bottom: 40px; */
    padding-left: 70px;
    color: white;
}

.banner-salman h3{
    color: white;
}

  .banner-minimba{
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 70px;
      color: white;
  }

  .banner-minimba h3{
      color: white;
  }

  .container-mba{
    width: 100%;
    padding-right: 15px;
  padding-left: 15px;
 
    margin-right: auto;
    margin-left: auto;
  }

  .isi-container-mba{
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    color: #215AA8;
    background: #F5F7FB;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .button-container-mba{
      font-size: 15px;
      margin-bottom: 20px;
      display: inline-block;
      color: black;
  padding: 10px 32px;
  border-radius: 20px;
      background-color: #DBEEFB;
  }
  a h4.title-journal:hover{
    color: #9C1718;
}